<div class="page-header">
  <h1><%= @place.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Tipo:</dt>
  <dd><%= @place.place_type.name %></dd>

  <dt>Descrição:</dt>
  <dd><%= @place.description %></dd>

  <% if @place.address %>
    <dt>Endereço:</dt>
      <dd><%= @place.address.address %>, <%= @place.address.number %>, <%= @place.address.neighborhood %>, <%= @place.address.city %></dd>
  <% end %>
  <%= link_to root_path, class: 'btn btn-outline-secondary' do %>
    Voltar
  <% end %>
</dl>
